<h1><%=@patient.name%>'s Appointments<h1>

<p>
<% @patient.appointments.each do |appointment|%>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
    with <%= link_to appointment.doctor.name, doctor_path(appointment.doctor.id) %>
<% end %>
<br>
</p>

