<h1><%=@doctor.name%>'s Appointments<h1>

<p>
<% @doctor.appointments.each do |appointment|%>
    <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %><br>
    with <%= link_to appointment.patient.name, patient_path(appointment.patient.id) %>
<% end %>
</p>